<launch>
  <node name="usb_imu_node" pkg="usb_imu" type="usb_imu_node" output="screen"/>
  <node name="vec3_display_node" pkg="vec3_display" type="vec3_display_node" />
  <node name="imu_filter_node" pkg="imu_filter_madgwick" type="imu_filter_node" output="screen" >
    <param name="~use_mag" value="false" />
  </node>
  <include file="$(find ximea_camera)/launch/mono.launch" > </include>
</launch>
